* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background: #26282c;
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.350);
}

.player {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    padding: 2.5em;
    color: #eee;
    z-index: 999;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
}

.menu-track-list {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 100%;
    width: 100%;
    height: 50%;
    z-index: 10;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 15px;
    transition: all 0.3s ease-out;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.menu-track-list::-webkit-scrollbar {
    border-radius: 10px;
    width: 8px;
}

.menu-track-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

.menu-track-list::-webkit-scrollbar-thumb {
    background: #e75709;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
}
.menu-track-list::-webkit-scrollbar-thumb:hover {
    background: #c72611;
}

.menu-track-list .list-tracks-block {
    position: relative;
    width: 100%;
    height: 50px;
    background: linear-gradient(-60deg, #c72611, #e75709);
    border-radius: 7px;
    padding: 5px;
    transition: 0.2s ease-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0px -2px 5px 0px rgba(104,95,95,0.65);
}

.menu-track-list .list-tracks-block:hover {
    background: linear-gradient(-60deg, #e75709, #c72611);
}

.menu-track-list .list-tracks-block h4 {
    color: #f1f1f1;
    text-align: start;
    font-size: 15px;
}


.player.menu-active .menu-track-list {
    transform: translateY(-100%);
    box-shadow: 0px -5px 5px 0px rgba(89, 81, 81, 0.65);
} 

.list-tracks-block .remove-track {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color:yellow;
    z-index: 555;
    cursor: pointer;
    transition: 0.2s;
}

.list-tracks-block .remove-track i {
    font-size: 15px;
}

.list-tracks-block .remove-track:hover {
    background-color: rgb(222, 187, 29);
}


.player .menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
    width: 50px;
    height: 50px;
    color: #f2f2f2;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    background: linear-gradient(-60deg, #1e1f23, #2e3137);
    border: none;
    box-shadow: 0.3em 0.3em 0.8em #151618, -0.3em -0.3em 0.5em #33353b;
    border: 0.2em #1c2023 solid;
    transition: 0.5s;
}

.player .menu-btn:hover {
    background: linear-gradient(60deg, #1e1f23, #2e3137);
}

.player-img {
    width: 15em;
    height: 15em;
    border: 0.8em #171a1d solid;
    border-radius: 50%;
    box-shadow: 0.8em 0.8em 1.8em #151618,
    -0.8em -0.8em 1em #33353b;
    object-fit: cover;
}

.player.rotateAnimate .player-img {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        box-shadow: -0.8em -0.8em 1em #33353b;
    }
    50% {
        box-shadow: 0.8em 0.8em 1.8em #151618;
    }
    70% {
        box-shadow: -0.8em -0.8em 1em #33353b;
    }
    95% {
        box-shadow: 0.8em 0.8em 1.8em #151618;
    }
    100% {
        transform: rotate(360deg);
    }
}

h2 {
    margin: 1em 0 0.3em 0;
    overflow: hidden;
    font-size: 100%;
}

.timeline-slider small {
    color: #8c8f90;
}

.timeline-slider {
    width: 100%;
    margin: 2em auto;
    max-width: 30em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-slider {
    margin-top: 0.4em;
    position: relative;
    display: flex;
    user-select: none;
}

.range-slider .range {
    -webkit-appearance: none;
    width: 100%;
    height: 0.4em;
    outline: none;
    border-radius: 3px;
    background: #1f1f1f;
    box-shadow: inset 3px 3px 6px #000,
    1px 1px 1px #909090;
    cursor: pointer;
}

.range-slider .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.7em;
    height: 1.7em;
    z-index: 3;
    position: relative;
}

.slider-thumb {
    position: absolute;
    width: 1.7em;
    height: 1.7em;
    background: #111;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.slider-thumb::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.7em;
    height: 0.7em;
    background: #333;
    border-radius: inherit;
    transition: 0.3s;
}

.range-slider:hover
.slider-thumb:before {
    background: #e75709;
}


.progress {
    width: 50%;
    height: 0.4em;
    border-radius: 3px;
    background: linear-gradient(90deg, #c72611, #e75709);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
    transition: width 0.1s ease-out;
}

.volume-slider {
    max-width: 16em;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume-slider .slider::-webkit-slider-thumb {
    width: 0;
}

.volume-icon {
    margin: 0 0.5em;
    cursor: pointer;
    position: relative;
}

.volume-icon i {
    font-size: 1.2em;
    padding: 0.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -40%);
}

.btn {
    background: linear-gradient(-60deg, #1e1f23, #2e3137);
    border: none;
    box-shadow: 0.3em 0.3em 0.8em #151618,
    -0.3em -0.3em 0.5em #33353b;
    width: 4em;
    height: 4em;
    border: 0.2em #1c2023 solid;
    border-radius: 50%;
    cursor: pointer;
    color: #f2f2f2;
}

.btn:hover {
    background: linear-gradient(60deg, #1e1f23, #2e3137);
}

.btn-main {
    background: linear-gradient(-60deg, #c72611, #e75709);
    width: 4.5em;
    height: 4.5em;
}

.btn-main:hover {
    background: linear-gradient(60deg, #c72611, #e75709);
}

.btn-main i {
    color: #fff;
    font-size: 1.5em;
}

.controls .btn {
    margin: 1em;
}

@media screen and (max-width: 700px){
    .range-slider {
        width: 100%;
    }
}